.message-form {
  padding: 30px 0;
}

.message-form input.message-input {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  height: 30px;
  width: 300px;
  padding-left: 10px;  
}

.message-form input[type="submit"] {
  display: none;
}
